<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>vou comer no ru</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" integrity="sha256-t2/7smZfgrST4FS1DT0bs/KotCM74XlcqZN5Vu7xlrw=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.2/buttons-min.css" integrity="sha256-op9qZdCrH5Yvcjcwer+1L0BnT6aoRFvEMvyQftSBSr0=" crossorigin="anonymous" />
    <link href="voucomernoru.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <h1>hoje tem</h1>
    </header>
    <section class="menu">
      <p>{{ main }}</p>
      <p>{{ complement }}</p>
      <p>{{ salad }}</p>
      <p>{{ dessert }}</p>
    </section>
    <section class="gallery">
      {% if showUpload %}
      <div class="upload">
        <form name="upload" action="/upload" method="post">
          <div class="pure-button pure-button-secondary">
            <span>envie uma foto</span>
            <input type="file" accept="image/*" capture required />
          </div>
          <div class="pure-button pure-button-primary pure-button-disabled">
            <span>dale!</span>
            <input type="submit" disabled />
          </div>
        </form>
      </div>
      {% endif %}
      <div class="grid">
        {% for img in images %}
          <img src="{{img.url}}" data-id="{{img.id}}" />
        {% endfor %}
      </div>
    </section>
    <a href="https://github.com/ranisalt/voucomernoru"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://camo.githubusercontent.com/82b228a3648bf44fc1163ef44c62fcc60081495e/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png"></a>
    {% if showUpload %}
      <script src="voucomernoru.js"></script>
    {% endif %}
  </body>
</html>
